.roadman {
    display: flex;
    height: 100%;
    overflow: hidden; /* Hide overflow to ensure cards are within the road */
  }
  
  .vertical-road {
    width: 30px; /* Adjust the width of the road */
    background-color: #555;
    position: relative;
    border-top-left-radius: 20px; /* Rounded bottom-left corner */
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px; /* Rounded bottom-left corner */
    border-bottom-right-radius: 20px;
  }
  .vertical-road::after {
    content: '';
    position: absolute;
    width: 5px; /* Adjust the width of the second line */
    height: 100%;
    background-color: #5d0a0a; /* Choose a different color for the second line */
    left: 50%;
    transform: translateX(-50%);
    margin-top: 10px;
    margin-bottom: 50px;
  }
  
  